<h1>A Star Tutorials</h1>
<style>
img {
  display:Block;
  margin-left: auto;
  margin-right: auto;
  
  width: 1000px;
  height:500px;
}
div {
  text-align: justify;
  
}
</style>
<%=image_tag("as.jpg", alt: "A")%>
<div>
<p>

A star Live Online Tutorials provide you with the traditional structure and support of classroom learning, but with the convenience of attending classes wherever you are.
Live Online Regular or Block Tutorials
This session we are offering Live Online Tutorials in many subjects. These courses aim to replicate as closely as possible what you would experience at a face-to-face tutorial, without the need to travel to a venue.
</p>
<p>
Students attending a Regular or Block Tutorial (delivered face-to-face or live online) in the same session may purchase the Online Classroom (where available) at a significantly reduced cost.

Live Online course dates can be found in our Tuition Bulletin.

</p>
<p>
It may be different to actually being in a classroom, but we will aim to replicate the experience and learning outcomes of a face-to-face tutorial as closely as possible. In addition you will benefit from: 
reduce travel time and cost.
reduced tutorial cost.
the opportunity to re-watch or catch up on any live sessions you miss, until the end of the study session after the one in which you take the tutorial.
How it works
Just like a face-to-face tutorial, the courses will comprise a mixture of: 
teaching from the tutor via pre-prepared presentations and a virtual whiteboard
time for question practice for students, with subsequent tutor guidance and solutions.
It will be assumed that you have read the relevant chapters of ActEd’s Course Notes before the tutorial and so the tutorial will aim to consolidate your knowledge and build your understanding of the principles covered.
</p>
<p>
Interaction will be encouraged using interactive polls and a written chat facility. 
The software used enables you to see and hear the tutor, and uses a "virtual flipchart" and slides, resulting in a personal feel to the tutorial. You can ask and respond to questions via a written chat facility, getting instant tutor feedback.
In order to participate all you need is a PC with speakers or headphones, a broadband internet connection and an internet browser. You can test your setup to check that you have the relevant software installed. 
It is possible to view Live Online Tutorials using an iPad and an App (that can be downloaded from the App Store). However, at present we recommend that you use a PC or laptop instead, because connecting this way offers you more functionality during the tutorial than using the App.

</p>

</div>